<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wechat.category.mapper.SecondclassMapper">
    
    <resultMap type="Secondclass" id="SecondclassResult">
        <result property="id"    column="id"    />
        <result property="cateId"    column="cate_id"    />
        <result property="name"    column="name"    />
        <result property="img"    column="img"    />
    </resultMap>

    <sql id="selectSecondclassVo">
        select id, cate_id, name, img from secondclass
    </sql>

    <select id="selectSecondclassList" parameterType="Secondclass" resultMap="SecondclassResult">
        <include refid="selectSecondclassVo"/>
        <where>  
            <if test="cateId != null "> and cate_id = #{cateId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
        </where>
    </select>
    
    <select id="selectSecondclassById" parameterType="Long" resultMap="SecondclassResult">
        <include refid="selectSecondclassVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSecondclass" parameterType="Secondclass">
        insert into secondclass
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="cateId != null">cate_id,</if>
            <if test="name != null">name,</if>
            <if test="img != null">img,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="cateId != null">#{cateId},</if>
            <if test="name != null">#{name},</if>
            <if test="img != null">#{img},</if>
         </trim>
    </insert>

    <update id="updateSecondclass" parameterType="Secondclass">
        update secondclass
        <trim prefix="SET" suffixOverrides=",">
            <if test="cateId != null">cate_id = #{cateId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="img != null">img = #{img},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSecondclassById" parameterType="Long">
        delete from secondclass where id = #{id}
    </delete>

    <delete id="deleteSecondclassByIds" parameterType="String">
        delete from secondclass where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>