<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysHelpInformationMapper">
    
    <resultMap type="SysHelpInformation" id="SysHelpInformationResult">
        <result property="helpInformationId"    column="help_information_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="question"    column="question"    />
        <result property="answer"    column="answer"    />
    </resultMap>

    <sql id="selectSysHelpInformationVo">
        select help_information_id, create_time, question, answer from sys_help_information
    </sql>

    <select id="selectSysHelpInformationList" parameterType="SysHelpInformation" resultMap="SysHelpInformationResult">
        <include refid="selectSysHelpInformationVo"/>
        <where>  
            <if test="question != null  and question != ''"> and question = #{question}</if>
            <if test="answer != null  and answer != ''"> and answer = #{answer}</if>
        </where>
    </select>
    
    <select id="selectSysHelpInformationById" parameterType="Long" resultMap="SysHelpInformationResult">
        <include refid="selectSysHelpInformationVo"/>
        where help_information_id = #{helpInformationId}
    </select>
        
    <insert id="insertSysHelpInformation" parameterType="SysHelpInformation" useGeneratedKeys="true" keyProperty="helpInformationId">
        insert into sys_help_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="question != null">question,</if>
            <if test="answer != null">answer,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="question != null">#{question},</if>
            <if test="answer != null">#{answer},</if>
         </trim>
    </insert>

    <update id="updateSysHelpInformation" parameterType="SysHelpInformation">
        update sys_help_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="question != null">question = #{question},</if>
            <if test="answer != null">answer = #{answer},</if>
        </trim>
        where help_information_id = #{helpInformationId}
    </update>

    <delete id="deleteSysHelpInformationById" parameterType="Long">
        delete from sys_help_information where help_information_id = #{helpInformationId}
    </delete>

    <delete id="deleteSysHelpInformationByIds" parameterType="String">
        delete from sys_help_information where help_information_id in 
        <foreach item="helpInformationId" collection="array" open="(" separator="," close=")">
            #{helpInformationId}
        </foreach>
    </delete>
</mapper>